@model MyMovies.Web.Models.Movies.MovieListViewModel

<ul class="list-group">
    <li class="list-group-item active">Filter by Directors</li>
    @if (Model.Directors.Any())
    {
        foreach (var director in Model.Directors)
        {
            <li class="list-group-item">
                <a href="@Url.Action("Index", new { director = director.Name })">@director.Name</a> 
                <span class="badge">@director.Count</span>
            </li>
        }
    }
</ul>